html {
  font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
	max-width: 1200px;
  width: 90%;
	display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.88em;
}
h2 {
	font-size: 1.13em;
}
h3 {
	font-size: .75em;
}

p {
	font-size: 14px;
	line-height: .88em;
  /* padding: 0 30px; */
}

/*The widths are in a percentage!*/
header {
	height: auto;
  width: 100%;
	border-bottom: 3px solid #77a466;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

header h1 {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 15px 8px ;
  border-bottom: 3px solid #77a466;
  width: 100%;

}
header h1 span {
	color: #77a466;
}

header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
	padding: 0 0 15px 0;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .88em;
	padding: 10px 0;
	display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	clear: both;
}

.main-image {
	height: auto;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
}
.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	height: auto;
	border-top: 1px solid #eee;
}

.section-one h3 {
	padding: 10px 0;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .88em;
}


/*  Tablet styles begin   */
@media all and (min-width:768px){
  .bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row nowrap;
    width: 100%;
  }
  .section-two {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }

  .section-two h3,
  .section-three h3 {
    padding: 10px 30px;
  }

  .section-one,
  .section-two,
  .section-three {
  	width: 33.3%;
  	height: auto;
  }

  .reviews {
  	padding: 0 30px;
  }

  .address {
    padding: 0 30px;
  }

  header h1 {
    justify-content: center;

  }

  header h1 span {
    padding-right: 10px;
  }

  footer {
    width: 100%;
  }
}


/*  Desktop Styles begin   */

@media all and (min-width:1200px){
  header {
    flex-flow: row nowrap;
  }

  header h1 {
    justify-content: flex-start;
    border-bottom: none;
  }

  header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 40%;
  }

  header nav ul li {
    padding-left: 20px;
  }
}
